<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />    
    <add key="XCGet" value="https://www.myget.org/F/xcomponent/auth/dd1ebf7a-dbb5-401f-be5c-958b2768f0b4" />
  </packageSources>
  <disabledPackageSources />  
</configuration>